@charset "utf-8";
/* CSS Document */
body {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 10px;
	text-align: center;
	background-color:#F0F0F0;
}

.title_txt
{
	margin-top: 120px;
	margin-left: 20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;

}
.title_txt2
{
	margin: 20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;

}
.title_txt1
{
	margin: 10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FF0000;

}

.title_txt3
{
	margin-left: 10px;
	margin-top: 40px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;

}
#Back {
	left:0px;
	top:0px;
	width:1000px;
	height:601px;
	background:#DBDBDB;
	margin: auto;
	text-align: left;
	position: relative;
	
}
#Back1 {
	left:0px;
	top:0px;
	width:1000px;
	height:487px;
	background:#DBDBDB;
	margin: auto;
	text-align: left;
	position: relative;
	
}
#Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1000px;
	height:100px;
}

#ICYLINDER-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:25px;
	height:77px;
}

#ICYLINDER-02 {
	position:absolute;
	left:25px;
	top:0px;
	width:141px;
	height:77px;
}

#ICYLINDER-03 {
	position:absolute;
	left:166px;
	top:0px;
	width:20px;
	height:77px;
}

#ICYLINDER-04 {
	position:absolute;
	left:186px;
	top:0px;
	width:142px;
	height:77px;
}

#ICYLINDER-05 {
	position:absolute;
	left:328px;
	top:0px;
	width:20px;
	height:77px;
}

#ICYLINDER-06 {
	position:absolute;
	left:348px;
	top:0px;
	width:142px;
	height:77px;
}

#ICYLINDER-07 {
	position:absolute;
	left:490px;
	top:0px;
	width:20px;
	height:77px;
}

#ICYLINDER-08 {
	position:absolute;
	left:510px;
	top:0px;
	width:142px;
	height:77px;
}

#ICYLINDER-09 {
	position:absolute;
	left:652px;
	top:0px;
	width:20px;
	height:77px;
}

#ICYLINDER-10 {
	position:absolute;
	left:672px;
	top:0px;
	width:142px;
	height:77px;
}

#ICYLINDER-11 {
	position:absolute;
	left:814px;
	top:0px;
	width:20px;
	height:77px;
}

#ICYLINDER-12 {
	position:absolute;
	left:834px;
	top:0px;
	width:142px;
	height:77px;
}

#ICYLINDER-13 {
	position:absolute;
	left:976px;
	top:0px;
	width:24px;
	height:77px;
}

#ICYLINDER-14 {
	position:absolute;
	left:0px;
	top:77px;
	width:25px;
	height:23px;
}

#ICYLINDER-15 {
	position:absolute;
	left:25px;
	top:77px;
	width:141px;
	height:23px;
}

#ICYLINDER-16 {
	position:absolute;
	left:166px;
	top:77px;
	width:20px;
	height:23px;
}

#ICYLINDER-17 {
	position:absolute;
	left:186px;
	top:77px;
	width:142px;
	height:23px;
}

#ICYLINDER-18 {
	position:absolute;
	left:328px;
	top:77px;
	width:20px;
	height:23px;
}

#ICYLINDER-19 {
	position:absolute;
	left:348px;
	top:77px;
	width:142px;
	height:23px;
}

#ICYLINDER-20 {
	position:absolute;
	left:490px;
	top:77px;
	width:20px;
	height:23px;
}

#ICYLINDER-21 {
	position:absolute;
	left:510px;
	top:77px;
	width:142px;
	height:23px;
}

#ICYLINDER-22 {
	position:absolute;
	left:652px;
	top:77px;
	width:20px;
	height:23px;
}

#ICYLINDER-23 {
	position:absolute;
	left:672px;
	top:77px;
	width:142px;
	height:23px;
}

#ICYLINDER-24 {
	position:absolute;
	left:814px;
	top:77px;
	width:20px;
	height:23px;
}

#ICYLINDER-25 {
	position:absolute;
	left:834px;
	top:77px;
	width:142px;
	height:23px;
}

#ICYLINDER-26 {
	position:absolute;
	left:976px;
	top:77px;
	width:24px;
	height:23px;
}
#Body_cylinder1 {
	position:absolute;
	left:0px;
	top:100px;
	width:1000px;
	height:487px;
}
#Body_cylinder2 {
	position:absolute;
	left:0px;
	top:0px;
	width:1000px;
	height:487px;
}

#login-02 {
	position:absolute;
	left:0px;
	top:0px;
	width:185px;
	height:487px;
	background-color:#DBDBDB;
}
#login-03 {
	position:absolute;
	left:185px;
	top:0px;
	width:630px;
	height:166px;
	background:#D2FFFF;
	background-color:#A6A6A6;
}

#login-04 {
	position:absolute;
	left:815px;
	top:0px;
	width:185px;
	height:487px;
	background-color:#DBDBDB;
}

#login-05 {
	position:absolute;
	left:185px;
	top:166px;
	width:157px;
	height:129px;
	background-color:#A6A6A6;
}

#login-06 {
	position:absolute;
	left:342px;
	top:166px;
	width:317px;
	height:129px;
	background-color:#787878;
}

#login-07 {
	position:absolute;
	left:659px;
	top:166px;
	width:156px;
	height:129px;
	background-color:#A6A6A6;
}

#login-08 {
	position:absolute;
	left:185px;
	top:295px;
	width:630px;
	height:192px;
	background-color:#A6A6A6;
}

#login-09 {
	position:absolute;
	left:0px;
	top:587px;
	width:1000px;
	height:13px;
	background:url(images/login_09.gif);
}
#Body_home1 {
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	height:487px;
}
#Body_home2{
	position:absolute;
	left:300px;
	top:0px;
	width:400px;
	height:487px;
}
#Body_home3 {
	position:absolute;
	left:700px;
	top:0px;
	width:300px;
	height:487px;
}
#Body_contact {
	position:absolute;
	left:350px;
	top:150px;
	width:280px;
	height:150px;
	background-color:#A6A6A6;
}
.flash_intro{
	margin-top:40px;
}