<%@ Page language="c#" Codebehind="ViewUploadedFiles.aspx.cs" AutoEventWireup="True" Inherits="iCylinderV1.ViewUploadedFiles" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>ViewUploadedFiles</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<asp:datagrid style="Z-INDEX: 0" id="DGView" runat="server" Font-Size="9pt" OnItemDataBound="DGView_Item_Command">
				<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="Gray"></HeaderStyle>
			</asp:datagrid><asp:label style="Z-INDEX: 0" id="lbl" runat="server"></asp:label><asp:label style="Z-INDEX: 0" id="lblspec" runat="server"></asp:label><asp:label style="Z-INDEX: 0" id="Lblerror" runat="server" Font-Size="9pt" ForeColor="Red"></asp:label><asp:label style="Z-INDEX: 0" id="Lblerr" runat="server" Font-Size="9pt" ForeColor="Red" Font-Bold="True"
				Font-Underline="True" Visible="False">Excel file Error</asp:label></form>
	</body>
</HTML>
