<%@ Page language="c#" Codebehind="Authorizing_Quote.aspx.cs" AutoEventWireup="false" Inherits="iCylinderV1.Authorizing_Quote" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Authorizing_Quote</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<TABLE id="Table1" border="0" cellSpacing="1" cellPadding="1" width="200">
				<TR>
					<TD>
						<asp:Label id="Label1" runat="server" Font-Size="9pt" Font-Bold="True" Font-Underline="True">Quotation Authorization</asp:Label></TD>
				</TR>
				<TR>
					<TD>
						<asp:Label id="LblInfo" runat="server" Font-Size="8pt" ForeColor="Red"></asp:Label></TD>
				</TR>
				<TR>
					<TD></TD>
				</TR>
			</TABLE>
		</form>
	</body>
</HTML>
