<%@ Page language="c#" Codebehind="Result.aspx.cs" AutoEventWireup="false" Inherits="iCylinderV1.Result" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Result</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout" bgColor="#c0c0c0">
		<form id="Form1" method="post" runat="server">
			<asp:Panel id="Panel1" style="Z-INDEX: 101; POSITION: absolute; TOP: 104px; LEFT: 216px" runat="server"
				BorderColor="LightSlateGray" BorderStyle="Double" Width="576px" Height="120px" HorizontalAlign="Center">
				<asp:label id="Label2" runat="server" Width="196px" Font-Underline="True" ForeColor="Red" Font-Size="Smaller"> Information</asp:label>
				<asp:label id="LBLSeries" runat="server" Width="552px" Font-Size="Smaller"></asp:label>
			</asp:Panel>
			<asp:Label id="lblinfo" style="Z-INDEX: 105; POSITION: absolute; TOP: 240px; LEFT: 472px" runat="server"></asp:Label>
		</form>
	</body>
</HTML>
