<%@ Page language="c#" Codebehind="Test_BachQuote.aspx.cs" AutoEventWireup="false" Inherits="iCylinderV1.Test_BachQuote" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Test_BachQuote</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<INPUT style="Z-INDEX: 0; WIDTH: 336px; HEIGHT: 23px; FONT-SIZE: 7pt" id="FileUpload" size="36"
				type="file" name="File1" runat="server">
			<asp:Button style="Z-INDEX: 101; POSITION: absolute; TOP: 88px; LEFT: 192px" id="Button1" runat="server"
				Text="Button"></asp:Button>
			<asp:Button style="Z-INDEX: 102; POSITION: absolute; TOP: 88px; LEFT: 296px" id="Button2" runat="server"
				Text="Button"></asp:Button>
		</form>
	</body>
</HTML>
