<%@ Page language="c#" Codebehind="ViewUploadedFile.aspx.cs" AutoEventWireup="false" Inherits="iCylinderV1.ViewUploadedFile" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>ViewUploadedFile</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body bottomMargin="0" leftMargin="0" rightMargin="0" scroll="yes" topMargin="0">
		<form id="Form1" method="post" runat="server">
			<asp:datagrid id="DGView" runat="server" OnItemDataBound="DGView_Item_Command" Font-Size="9pt">
				<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="Gray"></HeaderStyle>
			</asp:datagrid><asp:label style="Z-INDEX: 0" id="lbl" runat="server"></asp:label><br>
			<asp:label style="Z-INDEX: 0" id="lblspec" runat="server"></asp:label>
			<P><asp:label style="Z-INDEX: 0" id="Lblerr" runat="server" Font-Size="9pt" Font-Underline="True"
					Font-Bold="True" ForeColor="Red">Excel file Error</asp:label>
				<asp:Label style="Z-INDEX: 0" id="Lblerror" runat="server" ForeColor="Red" Font-Size="9pt"></asp:Label></P>
		</form>
	</body>
</HTML>
